@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --primary-color: #645986;
  --secondary-color: #4E0250;
  --text-primary: #000000;
  --text-secondary: #FFFFFF;
  --bg-primary: #ffffff;
  --bg-secondary: #373149;
  --trasition-speed: 200ms;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

body::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

main {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  line-height: 1.8rem;
}

main > p {
  text-align: justify;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width 200ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0 1.6rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.nav-item:last-child {
  margin-top: auto;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link {
  display: flex;
  width: 100%;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--trasition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-link i {
  min-width: 2rem;
  color: var(--text-secondary);
  font-size: 1.5rem;
  transition: var(--trasition-speed);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
  color: var(--text-secondary)
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem; 
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotate(0deg);
  transition: transform var(--trasition-speed);
}

.navbar:hover .logo i {
  transform: rotate(-180deg);
}